# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# CMake build directories
_build/
build/
cpp/_build/
cpp/build/
**/build/
**/_build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
ctrade/_ctrade*.so

# IDE/Editor cache
.cache/
**/.cache/
*.idx

data_btc.zip
